.text {
    border: 3px solid rgb(252, 149, 200);
    width: 80%;
    margin: 20px auto;
    padding: 20px 30px;
}

.novunu {
    text-align: center;
    color: palevioletred;
    background-color: rgba(255, 192, 203, 0.9);
    padding: 8px;
    margin: 0;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}