.p-green {
    color: green;
    font-family: Comic Sans MS;
}
.p-red {
    color: red;
    font-family: Courier New;
}
.p-maroon {
    color: maroon;
    font-family: Impact;
}
.p-purple {
    color: purple;
    font-family: Arial;
}